@(msgs: Array[controllers.line.ReportMoneyMessag], searchName : String = "", searchStatus : Int = 1)


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>分類交友</title>

    <!-- Bootstrap -->
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
</style>    
  </head>
  <body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

    <div class="container-fluid">
<a href="/linefriend/admin/console">送貼圖 </a><a href="/linefriend/admin/money/console">送現金 </a><a href="/linefriend/admin/bag/console">送刮刮樂 </a><a href="/linefriend/admin/se/console">送商品 </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      
      <a href="/linefriend/admin/queue/list?giftType=FR_LINE">放行貼圖 </a><a href="/linefriend/admin/queue/list?giftType=FR_MONY">放行現金 </a><a href="/linefriend/admin/queue/list?giftType=BAG">放行刮刮樂 </a><a href="/linefriend/admin/queue/list?giftType=SE">放行商品 </a>
      <h1 class="blog-title">分類交友後臺管理系統-送現金</h1>
      <div>
        <form id="searchform" action="/linefriend/admin/money/console" method="GET">
          戶名:<input form="searchform" type="text" name="searchName" value=@searchName>
          
          狀態:<select name="searchStatus" form="searchform">
          @if(searchStatus == 1) {
            <option value="1" selected >尚未完成(審核中, 核對完成, 有問題)</option>
          } else {
            <option value="1" >尚未完成(審核中, 核對完成, 有問題)</option>
          }

          @if(searchStatus == 2) {
            <option value="2" selected >已送出</option>
          } else {
            <option value="2" >已送出</option>
          }

          @if(searchStatus == 3) {
            <option value="3" selected >全部</option>
          } else {
            <option value="3" >全部</option>
          }
        </select>
        <input form="searchform" type="submit" name="searchbt" value="查詢"/>
        </form>
      </div>

      <br />
      <table style="width:100%">
        <tr>
          <th>申請時間</th>
          <th>銀行名稱</th>
          <th>銀行代碼</th>
          <th>銀行帳號</th>
          <th>戶名</th>
          <th>獎勵名稱</th>
          <th>驗證碼</th>
          <th>全部留言</th>
          <th>狀態</th>
          <th>管理者留言/備註</th>
          <th></th>
        </tr>
        @for(msg <- msgs) {
        <tr>
          <td><form id="form@msg.rmid" action="/linefriend/admin/money/console/update" method="POST"><input type="hidden" name="id" value="@msg.rmid" />
            <input form="form@msg.rmid" type="hidden" name="searchName" value=@searchName>
            <input form="form@msg.rmid" type="hidden" name="searchStatus" value=@searchStatus>
          </form>
          @defining(new java.text.SimpleDateFormat("MM/dd hh:mm")) { sf1 =>
              @defining(sf1.format(new java.util.Date(msg.cts.toLong).getTime())) { dd =>
                @dd
              }
          }
          </td>
          <td>@msg.bank_name</td>
          <td>@msg.bank_code</td>
          <td>@msg.account</td>
          <td>@msg.account_name</td>
          <td>
            <img src="@msg.lineImg" height="50" width="50">
            @msg.lname
            
          </td>
          <td>@msg.code</td>
          <td>

          @defining(new java.text.SimpleDateFormat("MM/dd hh:mm")) { sf =>
            @for(usgmg <- msg.userMsgs) {
              @defining(sf.format(new java.util.Date(usgmg.ts).getTime())) { dd =>
                @if(usgmg.from == 0) {
                  <font color="#13036B">版主:@usgmg.msg @dd</font>
                } else {
                  <font color="#B0003B">使用者:@usgmg.msg @dd</font>
                }
                <br/>
              }
            }
          }
          </td>
          <td>
            <select name="status" form="form@msg.rmid">
              @if(msg.status == 1) {
                <option value="1" selected >審核中</option>
              } else {
                <option value="1" >審核中</option>
              }

              @if(msg.status == 2) {
                <option value="2" selected >核對完成</option>
              } else {
                <option value="2" >核對完成</option>
              }

              @if(msg.status == 3) {
                <option value="3" selected>有問題</option>
              } else {
                <option value="3">有問題</option>
              }

              @if(msg.status == 4) {
                <option value="4" selected>已送出</option>
              } else {
                <option value="4">已送出</option>
              }

              @if(msg.status == 5) {
                <option value="5" selected>刪除</option>
              } else {
                <option value="5">刪除</option>
              }

            </select>
          </td>
          <td>留言:<textarea  form="form@msg.rmid" type="text" name="magmsg" rows="2"></textarea><br/>備註:<textarea rows="2" form="form@msg.rmid" type="text" name="mark" >@msg.mark</textarea></td>
          <td><input form="form@msg.rmid" type="submit" name="updatebt" value="修改"/></td>
        </tr>
        }
      </table>
<!-- (rmid : String, cts : String, lnick : String, lid : String, lname : String, code : String, userMsgs : Array[String], lineImg : String, mark : String) -->
  </body>
</html>